* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 8mm;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    user-select: none;
    background-color: black;
}

.game-board {
    z-index: 0;
    grid-area: 1 / 1 / 2 / 2;
    display: block;
    & board-row {
        display: flex;
        overflow: hidden;
        & board-cell {
            display: inline-block;
            & board-field {
                display: grid;
                & field-pin {
                    place-self: center;
                    display: block;
                    background-color: black;
                    width: 1vw;
                    height: 1vh;
                }
            }
        }
    }
}

.selected {
    border-width: 10px;
    border-style: solid;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}

.start-screen,
.score-screen {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    width: 100%;
    height: 100%;
    & .form {
        place-self: center;
        font-family: "sans-serif", system-sans;
        padding: max(2vh, 2vw);
        background: rgb(52, 132, 190);
        background: cornflowerblue;
        border-width: 10px;
        border-style: solid;
        border-image: conic-gradient(
                red,
                yellow,
                lime,
                aqua,
                blue,
                magenta,
                red
            )
            1;
        & input,
        & button,
        & .score,
        & .puzzle {
            font-size: 1rem;
            border: none;
            background-color: wheat;
            padding: 1rem;
            width: 100%;
        }
        & input {
            font-family: monospace;
            width: 5rem;
        }
    }
}

.score-screen {
    display: none;
    z-index: 2;
    place-self: center;
}

.modal-wrapper {
    display: grid;
    width: 100%;
    height: 100%;
}
