<!doctype html>
<html lang="{{ metadata.lang }}">
{% include "./head.njk" %}
<body>
{% include "./header.njk" %}
<main>
<article>
{{ content | safe -}}
</article>
</main>
{% include "./footer.njk" %}
</body>
</html>
