{%- set navPages = collections.all | eleventyNavigation -%}
{%- macro renderNavListItem(entry) %}
<li{%- if entry.url == page.url %} class="nav-item-active"{% endif -%}><a href="{{ entry.url | url }}">{{ entry.title }}</a>
{%- if entry.children.length -%}
<ul>
{%- for child in entry.children -%}{{ renderNavListItem(child) }}
{%- endfor -%}
</ul>
{%- endif -%}
</li>
{%- endmacro -%}

<nav>
<ul>
{%- for entry in navPages -%}
{{ renderNavListItem(entry) }}
{%- endfor %}
</ul>
</nav>