<ul>
{%- set nextPost = collections.post | getNextCollectionItem(page) %}
{%- if nextPost %}
<li>Next:
<a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
</li>
{% endif %}
{%- set previousPost = collections.post | getPreviousCollectionItem(page) %}
{%- if previousPost %}
<li>Previous:
<a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
</li>
{% endif %}
</ul>