<ol class="postlist">
{% for post in postslist | reverse -%}
<li class="postlist-item{%- if post.url == url -%} postlist-item-active{%- endif -%}">
{%- if show_date -%}
<time class="post-date" datetime="{{ post.date | isoDate }}">{{ post.date | isoDate }}</time>
{%- endif -%}
{%- if show_tags -%}
{%- set tags = post.data.tags -%}
{% include "./tags.njk" %}
{%- endif -%}
<div class="post-link"><a href="{{ post.url | url }}">{%- if post.data.title -%}{{ post.data.title }}{%- else -%}<code>{{ post.url }}</code>{%- endif -%}</a></div>
{%- if show_description -%}
<div class="post-description">{{ post.data.description }}</div>
{%- endif -%}
</li>
{% endfor -%}
</ol>