<div>
<ul class="post-taglist">
{%- for tag in tags | sort -%}
{# check if the tag in the tagList.
# if not, it must be a false tag. #}
{%- if collections.tagList.indexOf(tag) != -1 -%}
{%- set tagUrl -%}/tags/{{ tag }}/{%- endset -%}
<li><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></li>
{% endif -%}
{%- endfor -%}
</ul>
</div>