/* https://github.com/CatharsisFonts/Cormorant */
/* https://www.behance.net/gallery/28579883/Cormorant-an-open-source-display-font-family */

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('Cormorant-Regular.woff2') format('woff2'),
       url('Cormorant-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('Cormorant-Italic.woff2') format('woff2'),
       url('Cormorant-Italic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('Cormorant-SemiBold.woff2') format('woff2'),
       url('Cormorant-SemiBold.woff') format('woff');
  font-display: swap;
}
