@import 'tex_gyre_heros/tex_gyre_heros.css';

body {
    margin: 0%;
    box-sizing: border-box;
}

div {
    display: grid;
    grid-template-rows: 1fr auto 1fr;      
    height: 100vh;
    justify-items: center;
}

p {
    grid-row: 2;
    height: 100%;
    font-family: 'TeX Gyre Heros', sans;
    font-size: 16vh;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
