main {
    /* Put decorational quotation marks around blockquote elements. */
    & blockquote {
        /* Quotations are usually typeset in italics. */
        font-style: italic;
        /* So that position: absolute is relative to this. */
        position: relative;
        & p {
            text-indent: 0;
        }
    }

    & blockquote::before {
        content: "“";
        /* Just decorational, so don't stand out too much. */
        color: var(--color-mild-text);
        /* Don't interfere with regular layout. */
        position: absolute;
        font-size: 5em;
        left: -0.6em;
        top: -.2em;
    }
}
