body {
    display: grid;
    justify-content: center;
    font-size: 5rem;
    tab-size: 4;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
    }
    @media (min-width: 1024px) {
        grid-template-columns: fit-content(210rem);
    }
}
