/**
 * Based on prism.js default theme (https://github.com/PrismJS/prism/blob/master/themes/prism.css)
 */

code[class*="language-"],
pre[class*="language-"] {
    color: var(--color-code);
    background: none;
    text-shadow: 0 0 2px var(--color-code-shadow);
    font-family: var(--font-monospace);
    font-size: 4rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    text-shadow: none;
    background: var(--color-code-selection-background);
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
        page-break-inside: avoid;
    }
}

/* Code blocks */
pre[class*="language-"] {
    border: 1px solid var(--color-font-primary);
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: var(--color-code-background);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--color-code-comment);
    font-style: italic;
}

.token.punctuation {
    color: var(--color-code-punctuation);
}

.token.namespace {
    opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: var(--color-code-number);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: var(--color-code-string);
    font-style: italic;
}

.token.operator,
.token.entity,
.token.url,
.style .token.string {
    color: var(--color-code-operator);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: var(--color-code-keyword);
    font-weight: bold;
}

.token.function,
.token.class-name {
    color: var(--color-code-keyword);
}

.token.regex,
.token.important,
.token.variable {
    color: var(--color-code-variable);
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}
