main {
    & .footnote-ref {
        & a {
            text-decoration: none;
        }
    }
    & .footnotes-sep {
        border-top: 1px solid var(--color-shadow);
        text-align: left;
        font-size: 5rem;
        height: 1px;
        @media (min-width: 1024px) {
            margin: 10rem -10rem 10rem -10rem;
        }
    }
    & .footnotes-sep::before {
        padding: 0 0.5em;
        font-style: normal;
        letter-spacing: 0;
        content: "Footnotes";
        position: relative; /* Move to the to align with the border. */
        top: -0.8em;
        left: 20rem;
        background-color: var(--color-background-primary);
    }
    & .footnotes {
        font-size: 0.9em;
        & .footnote-item {
            margin: 2rem 0;
            & p {
                text-indent: 0;
                margin: 0;
            }
        }
    }
}
