footer {
    @media print {
        display: none;
    }
    @media (max-width: 1024px) {
        padding: 0 5rem;
    }
    @media (min-width: 1024px) {
        padding: 0 20rem;
    }
    & * {
        font-family: var(--font-headline);
        font-variant-ligatures: common-ligatures discretionary-ligatures;
        font-feature-settings: "liga" on, "dlig" on;
    }
    & nav {
        & * {
            font-family: var(--font-headline);
            font-size: 6rem;
            font-weight: 500;
            font-variant-ligatures: common-ligatures discretionary-ligatures;
            font-feature-settings: "liga" on, "dlig" on;
        }
        & ul {
            padding: 0;

            & li {
                white-space: nowrap;
                display: inline;
                margin: 0 5rem;
            }

            & li::before {
                content: "☞";
            }
        }
    }
}
