main {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        font-family: var(--font-headline);
        font-weight: 500;
        font-variant-ligatures: common-ligatures discretionary-ligatures;
        font-feature-settings: "liga" on, "dlig" on;

        & .post-taglist {
            margin: 0;
        }
    }

    /* The intention is that there is only one h1 on a page: at the top. If you use
     * h1 different, then you may want to add a border like in the h2. */
    & h1 {
        text-align: center;
        font-size: 10rem;
        page-break-before: always;
    }

    & h2 {
        border-bottom: 1px solid var(--color-font-primary);
        padding-bottom: 0.2rem;
        font-size: 9rem;
        page-break-before: always;
    }

    & h3 {
        font-size: 8rem;
        page-break-after: avoid;
    }

    & h4 {
        font-size: 7rem;
        page-break-after: avoid;
    }

    & h5,
    & h6 {
        font-size: 6rem;
        page-break-after: avoid;
    }
}

main h1:first-of-type,
main h2:first-of-type {
    margin-top: 0;
}
