header {
    @media print {
        display: none;
    }
    @media (max-width: 1024px) {
        padding: 0 5rem;
    }
    @media (min-width: 1024px) {
        padding: 0 20rem;
    }

    & * {
        font-family: var(--font-headline);
        font-variant-ligatures: common-ligatures discretionary-ligatures;
        font-feature-settings: "liga" on, "dlig" on;
    }
    & .page-title {
        @media (max-width: 1024px) {
            text-align: center;
            font-size: 12rem;
        }
        @media (min-width: 1024px) {
            font-size: 20rem;
        }
    }

    & .sub-title {
        @media (max-width: 1024px) {
            text-align: center;
            font-size: 8rem;
        }
        @media (min-width: 1024px) {
            font-size: 10rem;
        }
        font-style: italic;
    }

    & hr {
        border-bottom: 0;
        color: var(--color-shadow);
    }

    & nav {
        & * {
            font-family: var(--font-headline);
            font-size: 6rem;
            font-weight: 500;
            font-variant-ligatures: common-ligatures discretionary-ligatures;
            font-feature-settings: "liga" on, "dlig" on;
        }
        & ul {
            padding: 0;
            list-style-type: none;

            & li {
                white-space: nowrap;
                display: inline;
                margin: 0 5rem;
            }

            & li::before {
                content: "☞";
            }
        }
    }
}
