main {
    background-color: var(--color-background-primary);
    margin: 0 auto;
    font-family: var(--font-text);
    font-weight: 500;
    min-width: 210rem;
    min-height: 50vh;

    @media (max-width: 1024px) {
        padding: 5rem;
        min-width: 100%;
    }
    @media (min-width: 1024px) {
        padding: 20rem;
        min-width: 210rem;
    }

    @media screen {
        outline: var(--color-shadow) 1px solid;
    }

    @media print {
        /* padding: 20rem; */
        /* margin: 20rem; */
    }
}
