.postlist {
    list-style-type: none;
    padding-left: 0;
    & .postlist-item {
        & .post-date {
            font-family: var(--font-monospace);
            font-size: 4rem;
            color: var(--color-mild-text);
            margin-right: 2rem;
        }
        & .post-link {
            margin-left: 10rem;
            font-size: 8rem;
            font-family: var(--font-headline);
        }
        & .post-description {
            margin-left: 10rem;
        }
    }
}

.post-taglist {
    list-style-type: none;
    padding-left: 0;
    margin-left: 10rem;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    font-size: 4rem;
    & li {
        display: inline;
    }
}
