:root {
    /* COLORS */

    @media (prefers-color-scheme: dark) {
        --color-shadow: hsl(0, 0%, 50%);
        --color-background-primary: hsl(0, 0%, 5%);
        --color-background-secondary: hsl(41, 0%, 8%);
        --color-font-primary: hsl(222, 0%, 84%);
        --color-mild-text: hsl(0, 0%, 78%);
        --color-link: hsl(270, 0%, 66%);
        --color-link-hover: hsl(39, 0%, 33%);
        --color-link-visited: hsl(269, 0%, 75%);
        --color-link-target: hsl(44, 0%, 12%);

        --color-code: hsl(0, 0%, 100%);
        --color-code-background: hsl(43, 56%, 4%);
        --color-code-shadow: #000;
        --color-code-selection-background: var(--color-link-hover);
        --color-code-comment: hsl(210, 13%, 60%);
        --color-code-punctuation: hsl(0, 0%, 75%);
        --color-code-number: hsl(327, 80%, 70%);
        --color-code-string: hsl(80, 80%, 70%);
        --color-code-operator: hsl(347, 82%, 63%);
        --color-code-keyword: hsl(198, 70%, 67%);
        --color-code-function: hsl(348, 68%, 72%);
        --color-code-variable: hsl(39, 70%, 73%);
    }

    @media (prefers-color-scheme: light) {
        --color-shadow: hsl(0, 0%, 50%);
        --color-code-selection-background: #abc;
        --color-background-primary: hsl(60, 100%, 98%);
        --color-background-secondary: hsl(43, 56%, 90%);
        --color-font-primary: hsl(222, 54%, 30%);
        --color-mild-text: hsl(192, 54%, 30%);
        --color-link: hsl(270, 50%, 40%);
        --color-link-hover: hsl(39, 96%, 72%);
        --color-link-visited: hsl(270, 51%, 27%);
        --color-link-target: hsl(43, 56%, 90%);

        --color-code: hsl(0, 0%, 0%);
        --color-code-background: hsl(43, 56%, 96%);
        --color-code-shadow: #fff;
        --color-code-selection-background: var(--color-link-hover);
        --color-code-comment: hsl(210, 13%, 40%);
        --color-code-punctuation: hsl(0, 40%, 35%);
        --color-code-number: hsl(327, 70%, 30%);
        --color-code-string: hsl(80, 70%, 30%);
        --color-code-operator: hsl(347, 72%, 37%);
        --color-code-keyword: hsl(198, 60%, 33%);
        --color-code-function: hsl(348, 58%, 28%);
        --color-code-variable: hsl(39, 60%, 27%);
    }

    @media print {
        --color-shadow: hsl(0, 0%, 50%);
        --color-background-primary: white;
        --color-background-secondary: white;
        --color-font-primary: black;
        --color-shadow: white;
        --color-mild-text: hsl(0, 0%, 33%);
        --color-link: hsl(0, 0%, 15%);
        --color-link-hover: hsl(39, 0%, 72%);
        --color-link-visited: hsl(0, 0%, 15%);
        --color-link-target: hsl(43, 0%, 90%);

        --color-code: hsl(0, 0%, 0%);
        --color-code-background: hsl(43, 0%, 100%);
        --color-code-shadow: #fff;
        --color-code-selection-background: var(--color-link-hover);
        --color-code-comment: hsl(210, 0%, 40%);
        --color-code-punctuation: hsl(0, 0%, 35%);
        --color-code-number: hsl(327, 0%, 30%);
        --color-code-string: hsl(80, 0%, 30%);
        --color-code-operator: hsl(347, 0%, 37%);
        --color-code-keyword: hsl(198, 0%, 33%);
        --color-code-function: hsl(348, 0%, 28%);
        --color-code-variable: hsl(39, 0%, 27%);
    }

    background-color: var(--color-background-secondary);
    color: var(--color-font-primary);

    /* FONTS */
    --font-headline: "Cormorant", ui-serif, serif;
    --font-text: "Cardo", ui-serif, serif;
    --font-sans: ui-sans-serif, sans-serif;
    --font-monospace: "Latin Modern Mono", ui-monospace, monospace;

    @media screen {
        font-size: 1.2mm;
    }

    @media print {
        font-size: 1mm;
    }
}
