/* SUPER- AND SUBSCRIPT */
main {
    & sup,
    & sub {
        /* Make sure the line height isn't affected. */
        position: relative;
        line-height: 0;
        vertical-align: baseline;
        font-size: smaller;
    }
    & sup {
        bottom: 1ex;
    }
    & sub {
        top: .5ex;
    }
}
