/* BLOCKQUOTE */
blockquote {
    font-style: italic; /* Quotations are usually typeset in italics. */
}

/* IMAGES */
img {
    max-width: 100%; /* Make sure it's never larger than the page. */
}
figure {
    text-align: center; /* Centre images and associated captions (if any). */
    margin: 1rem 0; /* Don't need 40px of margin on either side. */
}

figure.border {
    border: 1px solid /*bordercolor*/ #aaa; /* Add border. */
    padding: 5px; /* Slight gap between image and border. */
    margin: -5px; /* Put the border in the margin, so the padding doesn't shrink the image. */
}

@media (min-width: /*bodywidth*/54em) {
    /* Only if the screen is wide enough. */
    figure.full {
        /* Make sure this is after .border so that adding both works. */
        margin-left: /*padx*/ -4rem;
        width: calc(100% + /*padx*/ 8rem);
    }

    figure.full.border {
        border-left: none; /* Remove side borders on .full */
        border-right: none;
    }
}

@media (min-width: /*bodywidth*/54em) {
    /* Only if the screen is wide enough. */
    pre.full {
        margin-left: /*padx*/ -4rem;
        width: calc(100% + /*padx*/ 8rem);
    }
}

/* TABLES */
table {
    border-collapse: collapse; /* No space between borders. */
    width: 100%;
}
table + table {
    margin-top: 2em; /* Add margin for subsequent tables. */
}

@media (min-width: /*bodywidth*/54em) {
    /* Only if the screen is wide enough. */
    table.full {
        margin-left: /*padx*/ -3.5rem;
        width: calc(100% + /*padx*/ 7rem);
    }
}

caption {
    font-weight: bold; /* Make caption stand out more. */
}

tr {
    border-bottom: 1px solid #ddd; /* Divide rows with a border. */
}
table > tr:last-child,
tbody tr:last-child,
tfoot tr:last-child {
    border-bottom: none; /* No border on the last row. */
}
tfoot tr:first-child {
    border-top: 1px solid #ddd; /* Continue border on first tfoot row; removed with tbody tr:last-child. */
}

td,
th {
    padding: 0.2em 0.5em; /* Whitespace on top/bottom to make it less dense. */
    /* And to the side to prevent cells from touching. */
    hyphens: none; /* Disable hyphenation by default, as it tends to wreak havoc with cell width calculations. */
}

td.left,
th.left {
    /* Left aligned table cells (mainly for <th>). */
    text-align: left;
}
td.right,
th.right {
    /* Right aligned table cells. */
    text-align: right;
}
table td.right {
    font-feature-settings: "tnum" on; /* Use tabular numbers for alignment. */
    font-variant-numeric: tabular-nums;
    font-family: sans-serif; /* Libre Baskerville has no aligned numbers :-( */
}
