/* cardo-regular - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('cardo-v13-latin-ext_latin_greek-ext_greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('cardo-v13-latin-ext_latin_greek-ext_greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* cardo-italic - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('cardo-v13-latin-ext_latin_greek-ext_greek-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('cardo-v13-latin-ext_latin_greek-ext_greek-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* cardo-700 - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('cardo-v13-latin-ext_latin_greek-ext_greek-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('cardo-v13-latin-ext_latin_greek-ext_greek-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
