@font-face {
    font-family: "Latin Modern Mono";
    src: local(""), url("lmmono10-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono";
    src: local(""), url("lmmono10-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono Small Caps";
    src: local(""), url("lmmonocaps10-oblique-webfont.woff") format("woff");
    font-weight: normal;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono Small Caps";
    src: local(""), url("lmmonocaps10-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono";
    src: local(""), url("lmmonolt10-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono";
    src: local(""), url("lmmonolt10-boldoblique-webfont.woff") format("woff");
    font-weight: bold;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono";
    src: local(""), url("lmmonolt10-oblique-webfont.woff") format("woff");
    font-weight: 300;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono";
    src: local(""), url("lmmonolt10-regular-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono";
    src: local(""), url("lmmonoltcond10-oblique-webfont.woff") format("woff");
    font-weight: 300;
    font-style: oblique;
    font-stretch: condensed;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono";
    src: local(""), url("lmmonoltcond10-regular-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono Prop";
    src: local(""), url("lmmonoprop10-oblique-webfont.woff") format("woff");
    font-weight: normal;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono Prop";
    src: local(""), url("lmmonoprop10-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono Prop";
    src: local(""), url("lmmonoproplt10-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono Prop";
    src: local(""),
        url("lmmonoproplt10-boldoblique-webfont.woff") format("woff");
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: "Latin Modern Mono Prop";
    src: local(""), url("lmmonoproplt10-oblique-webfont.woff") format("woff");
    font-weight: 300;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono Prop";
    src: local(""), url("lmmonoproplt10-regular-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Latin Modern Mono Slanted";
    src: local(""), url("lmmonoslant10-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
