@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('texgyreheros-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('texgyreheros-italic-webfont.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('texgyreheros-bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('texgyreheros-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('texgyreheroscn-regular-webfont.woff') format('woff');
    font-stretch: condensed;

}

@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('texgyreheroscn-italic-webfont.woff') format('woff');
    font-stretch: condensed;
    font-style: italic;
}

@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('texgyreheroscn-bold-webfont.woff') format('woff');
    font-stretch: condensed;
    font-weight: bold;
}

@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('texgyreheroscn-bolditalic-webfont.woff') format('woff');
    font-stretch: condensed;
    font-weight: bold;
    font-style: italic;
}
