---
layout: main.njk
---
{% set maxPosts = collections.post.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>
<p>
Interesting things, I found, while striving through the endless veins of the web.
Also things, I need to remember later.
</p>
{%- set postslist = collections.post | head(-3) -%}
{%- set show_description = true -%}
{%- set show_date = true -%}
{%- set show_tags = true -%}
{%- include "templates/postslist.njk" -%}

<p>All posts can be found in the archive of <a href="{{ '/post/' | url }}">posts</a>.</p>
