---
layout: main.njk
permalink: /pages/
eleventyNavigation:
  key: Pages
  order: 3
title: Pages
---
<h1>{{ title }}</h1>
<p>
Experiments.
Might change over time.
May have a completely diffent apperance than the blog.
</p>
{%- set postslist = collections.page -%}
{%- set show_description = true -%}
{%- set show_date = false -%}
{%- set show_tags = false -%}
{%- include "templates/postslist.njk" -%}
