---
layout: main.njk
permalink: /post/
eleventyNavigation:
  key: Posts
  order: 2
title: Posts
---
<h1>{{ title }}</h1>
{%- set postslist = collections.post -%}
{%- set show_description = true -%}
{%- set show_date = true -%}
{%- set show_tags = true -%}
{%- include "templates/postslist.njk" -%}
