---
layout: main.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - page
    - tagList
  addAllPagesToCollections: true
permalink: /tags/{{ tag }}/
eleventyComputed:
  title: Tagged “{{ tag }}”
---
<h1>{{ title }}</h1>

{%- set postslist = collections[ tag ] -%}
{%- set show_description = true -%}
{%- include "templates/postslist.njk" -%}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>