---
permalink: /tags/
layout: main.njk
eleventyNavigation:
  key: Tags
  order: 2
---
<h1>Tags</h1>
{% for tag in collections.tagListAlphabetically -%}
<h2>{{ tag }}</h2>
{%- set postslist = collections[ tag ] -%}
{%- set show_description = true -%}
{%- include "templates/postslist.njk" -%}
{%- endfor %}